@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
/*---------------------------------------
    リセットCSS（編集不要）
----------------------------------------*/
html{overflow-y:scroll;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}table{border-collapse:collapse;border-spacing:0;}caption,th{text-align:left;}q:before,q:after{content:'';}object,embed{vertical-align:top;}hr,legend{display:none;}h1,h2,h3,h4,h5,h6{font-size:100%;}img,abbr,acronym,fieldset{border:0;}ul li{list-style-type:none;}a,label{cursor:pointer;}img{vertical-align:bottom;margin:0;padding:0;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

article, aside, dialog, figure, footer, header, menu, nav, section, time, mark, audio, video {
  display: block;
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

ul li, ol li {
  list-style-type: none;
}

body {
  font-family: "Arial", "微軟 正黑體", "Microsoft JhengHei";
	font-size: 125%;
	-webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

* img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #313ebb;
}
